<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>轮播图</title>
	<link rel="stylesheet" type="text/css" href="/static/css/flow_picture.css">
	<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/static/js/unslider.min.js"></script>
	<script type="text/javascript" src="/static/js/flow_picture.js"></script>
</head>									
<body>
	<div class="banner" id="b04">
		<ul>
			<li>
				<img src="/static/images/01.jpg" alt="" width="640" height="480">
			</li>
			<li>
				<img src="/static/images/02.jpg" alt="" width="640" height="480">
			</li>
			<li>
				<img src="/static/images/03.jpg" alt="" width="640" height="480">
			</li>
			<li>
				<img src="/static/images/04.jpg" alt="" width="640" height="480">
			</li>
			<li>
				<img src="/static/images/05.jpg" alt="" width="640" height="480">
			</li>
		</ul>
		<a href="javascript:void(0);" class="unslider-arrow04 prev">
			<img class="arrow" id="al" src="/static/images/arrowl.png" alt="prev" width="20" height="35">
		</a>
    	<a href="javascript:void(0);" class="unslider-arrow04 next">
    		<img class="arrow" id="ar" src="/static/images/arrowr.png" alt="next" width="20" height="37">
    	</a>
	</div>

</body>
</html>
